.footer {
  background-color: $color-light-grey;
  margin-top: 8rem;
  box-shadow: 0px -0.3rem 2.5rem rgba(0, 0, 0, 0.16);
  .container {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        @include webfont($raleway, 1.6rem, 300, $color-primary-blue) {
            margin-bottom: .5rem;
        }
      }
      img {
        margin-left: 1.2rem;
        margin-right: .3rem; //menu w nagłówku ma padding .3rem
    }
    small {
        @include webfont($opensans, .8rem, $basic-font-weight, $color-grey);
    }
  }
}
